{{> 'top' }}

<div class="about">
  <div class="about__container">
    <img class="about__cloud" src="/static/cloud.svg" alt="Cloud">

    <h1 class="about__title">Nothing to do here! <a class="about__link" href="/">Go back</a></h1>
  </div>
</div>

{{> 'bottom' }}
