{{> 'top' }}

<div class="home">
  <div class="home__container">
    <h1 class="home__title">Click The Cube!</h1>

    <div class="home__cube-wrapper">
      <button id="cube" class="home__cube"></button>
    </div>

    <h2 class="home__sub-title">
      Go to <a class="home__link" href="./about.html">About Page</a>
    </h2>
  </div>
</div>

{{> 'bottom' }}
