<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>

  <!-- Inject relevant styles -->
  {{#each (should-include htmlWebpackPlugin.options.filename htmlWebpackPlugin.files.css)}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>
<body>
